::after,
::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

:root {
  --input-padding: 0.6rem 0.8rem;
  --input-border-r: 0.4rem;
  --confirm-color: #00e600;
  --cancel-color: rgb(193, 60, 60);
  --component-padding: 0.6rem;
  --main-font-size: 1.5rem;
  --transition-std: 300ms ease-in;
  --active-font-color: #ff1aff;
  --contrast-component-color: #94004a;
  --pink-active-component-color: rgb(228, 54, 112);
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
}
a {
  font-size: initial;
  color: initial;
  text-decoration: none;
}
li {
  list-style: none;
}

input,
button,
hr {
  border: none;
  outline: none;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0rem;
}

img,
video,
iframe {
  max-width: 100%;
  max-height: 100%;
}
body {
  background-color: #201d20;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.1rem;
  min-height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: max-content 1fr;
  min-height: 100vh;
}

#root > .loading-app {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
}

/* All loading in the site  */
.loading {
  display: grid;
  font-weight: bold;
  font-size: 2rem;
  place-content: center;
}

.full-screen.loading {
  min-height: 100vh;
}

.avatar img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  height: 100%;
}

/* NotFond */
.empty-page {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: black;
  position: absolute;
  width: 100%;
}

/* INFO */

main > .info {
  height: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: 50%;
  place-content: center;
}
main > .info h1 {
  text-align: left;
  color: lightgreen;
  font-size: 2rem;
}

main .info .descryption {
  font-size: 1.4rem;
}
main .info .adt {
  font-size: 2rem;
  font-weight: bold;
  color: lightgreen;
  text-align: right;
}

.loading {
  display: grid;
  place-content: center;
  height: 100%;
}

@media (width < 760px) {
  main > .info {
    grid-template-columns: 90%;
  }
}

@media (width < 560px) {
  main .info .adt,
  main .info .descryption,
  main > .info h1 {
    text-align: center;
  }

  main .info .adt,
  main > .info h1 {
    font-size: 1.5rem;
  }
}
