.home {
  display: grid;
  min-height: 100%;
  padding-top: 1rem;
  position: relative;
  place-content: center;
  text-align: center;
}
.home .friends-list {
  display: grid;
  gap: 1rem;
  padding: 2rem 1rem;
  width: clamp(320px, 100vw, 690px);
}
.home .profile-link .avatar {
  aspect-ratio: 1/1;
  height: 4rem;
}

.home .empty-list {
  font-size: 1.5rem;
}

.home .loading-home {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  height: 100%;
}
