.home {
  display: grid;
  grid-auto-rows: max-content;
  gap: 2rem;
  min-height: 100%;
  position: relative;
  text-align: center;
}

.home .profile-link-container {
  display: grid;
  height: max-content;
}
.home .profile-link {
  width: clamp(320px, 100vw, 590px);
  margin-inline:auto;
}
.home .friends-list {
  display: grid;
  gap: 1rem;
  padding: 2rem 1rem;
  width: clamp(320px, 100vw, 690px);
}
.home .profile-link .avatar {
  aspect-ratio: 1/1;
  height: 4rem;
}

.home .empty-list {
  font-size: 1.5rem;
}

.home .loading-home {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  height: 100%;
}
.home .empty-activity {
  display: grid;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  position: absolute;
  place-content: center;
}