/* TO REMOVE  */

.build-mode {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
}

.account {
  display: grid;
  height: 100vh;
  place-content: center;
}

.account .container {
  display: grid;
  overflow: hidden;
  border-style: solid;
  border-width: 4px;
  border-image: linear-gradient(
      190deg,
      rgba(255, 255, 0, 0.623),
      white,
      rgba(255, 255, 0, 0.623)
    )
    30;
  border-radius: 0.2rem;
  height: 700px;
  grid-template-rows: 1fr max-content;
}
.account form {
  height: 100%;
  background: rgb(34, 155, 228);
  background: -moz-linear-gradient(
    333deg,
    rgba(34, 155, 228, 1) 0%,
    rgba(34, 4, 29, 1) 82%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    333deg,
    rgba(34, 155, 228, 1) 0%,
    rgba(34, 4, 29, 1) 82%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    333deg,
    rgba(34, 155, 228, 1) 0%,
    rgba(34, 4, 29, 1) 82%,
    rgba(0, 0, 0, 1) 100%
  );

  width: clamp(416px, 60vw, 680px);
  display: grid;
  position: relative;
  place-content: center;
  grid-auto-rows: max-content;
  row-gap: 2rem;
  text-align: center;
  box-shadow: 0 -1rem 8rem black;
}

.account form header {
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  animation: title-spining infinite 12s;
}

.account form h2 {
  background: rgb(193, 62, 62);
  background: -moz-linear-gradient(
    45deg,
    rgba(193, 62, 62, 1) 0%,
    rgba(193, 62, 102, 1) 12%,
    rgba(255, 231, 0, 1) 70%,
    rgba(255, 192, 0, 1) 89%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(193, 62, 62, 1) 0%,
    rgba(193, 62, 102, 1) 12%,
    rgba(255, 231, 0, 1) 70%,
    rgba(255, 192, 0, 1) 89%
  );
  background: linear-gradient(
    45deg,
    rgba(193, 62, 62, 1) 0%,
    rgba(193, 62, 102, 1) 12%,
    rgba(255, 231, 0, 1) 70%,
    rgba(255, 192, 0, 1) 89%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c13e3e",endColorstr="#ffc000",GradientType=1);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.5rem;
}

/* GOOGLE BTN */

.dif-sing-in {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1rem;
  width: max-content;
  position: absolute;
  right: 1rem;
  bottom: 0.2rem;
  background-color: rgb(29, 24, 24);
  padding: var(--input-padding);
  border-radius: var(--input-border-r);
  align-items: center;
  transition: filter, box-shadow, scale, 300ms;
}
.dif-sing-in:is(:hover, :focus, :focus-visible, :focus-within) {
  filter: brightness(50%);
  box-shadow: 0 0 1rem red;
  scale: 1.1;
}
.dif-sing-in img {
  aspect-ratio: 1/1;
  width: 2rem;
}

@keyframes title-spining {
  0% {
  }
  20% {
    rotate: 10deg;
    translate: 10rem 1rem;
  }
  30% {
    rotate: 20deg;
    translate: 11rem 2rem;
  }
  40% {
    transform: 11rem 4rem;
    rotate: 45deg;
  }
  50% {
    rotate: 0;
    transform: 5rem 2rem;
  }

  60% {
    translate: -10rem 0;
  }

  70% {
    rotate: -20deg;
    translate: -11rem 4rem;
  }
  80% {
    rotate: -45deg;
  }
  90% {
    translate: -8rem 0rem;
    rotate: 0deg;
  }
  100% {
    transform: 0 0;
  }
}
.account .labels-container {
  display: grid;
  justify-content: center;
  grid-auto-rows: max-content;
  row-gap: 2rem;
  position: relative;
}
.account label {
  position: relative;
  height: max-content;
  width: max-content;
}
.account input {
  font-size: 1rem;
  border-radius: var(--input-border-r);
  padding: var(--input-padding);
}
.account input::placeholder {
  transition: translate, font-size, color, var(--transition-std);
}
.account input:is(:hover, :focus, :focus-visible, :focus-within)::placeholder {
  font-size: 0.6rem;
  color: pink;
  translate: 0 -0.5rem;
}
.account .confirm {
  padding: var(--input-padding);
  border-radius: var(--input-border-r);
  font-weight: bold;
  font-size: 1.1rem;
  height: max-content;
  width: 200px;
  transition: scale, border, 300ms ease-in;
  padding-block: 0.4rem;
  font-weight: 200;
  margin-inline: auto;
  border: 4px solid #22e822;
  box-shadow: 0rem 1.5rem 1rem -1rem black;
  background-color: var(--confirm-color);
}

.account .confirm:is(:hover, :focus) {
  background-color: rgb(158, 42, 42);
  border-color: var(--cancel-color);
  scale: 1.1;
}

.account .warning {
  position: absolute;
  color: orange;
}
.account .attempts-warning {
  color: orange;
}
.login .warning {
  bottom: -1.5rem;
}
.create_account .warning {
  height: 1rem;
  bottom: -30%;
  left: 0;
  right: 0;
}

.account .panel {
  background-color: #2263f0;
  padding-inline: 1rem;
}
.account .panel .panel-list {
  display: grid;
  font-weight: 800;
  grid-template-columns: repeat(2, max-content);
  text-align: center;
  border-radius: 0 0 0.4rem 0.4rem;
  padding-block: 1rem;
  align-items: center;
  justify-content: space-around;
}

.account .panel .link {
  padding-block: 0.2rem;
  transition: scale, color, var(--transition-std);
}

.account .panel .link:hover {
  scale: 1.2;
}

.account .lb-con {
  position: relative;
}
.account .eye {
  position: absolute;
  transition: translate, scale, var(--transition-std);
  padding: 0.2rem;
  top: 0;
  bottom: 0;
  right: -2.4rem;
}

.account .eye:is(:hover, :focus, :focus-within, :focus-visible) {
  translate: 0.2rem 0.1rem;
  scale: 1.1;
}

@media (width < 417px) {
  .account .container {
    height: 100vh;
  }

  .code-container {
    padding: 0;
  }
  .account form {
    max-width: calc(100vw - 4px);
  }
  .account .panel {
    padding-inline: 1rem;
  }
}

/* CONFIRM CODE */
.code-form {
  display: grid;
  gap: 1rem;
}

.confirm-code-btn {
  width: max-content;
  margin-inline: auto;
  padding: var(--input-padding);
  border-radius: var(--input-border-r);
  background-color: green;
  transition: filter var(--transition-std);
}

.confirm-code-btn:is(:hover, :focus, :focus-within, :focus-visible) {
  filter: brightness(60%);
}

.confirm-code {
  display: grid;
  height: 100dvh;
  text-align: center;
  place-content: center;
  gap: 1rem;
}

.code-container {
  display: grid;
  gap: 3rem;
  padding-inline: 2rem;
  grid-template-columns: repeat(auto-fill, 2.5rem);
}
.confirm-code .code-label {
  aspect-ratio: 1/1;
  width: 4rem;
  display: grid;
}
.confirm-code .code-label input {
  border: 2px solid yellow;
  text-align: center;
  border-radius: 0.2rem;
  font-weight: bold;
  box-shadow: 0 0 2rem -0.5rem pink;
  font-size: 1.8rem;
  color: black;
  background-color: rgb(238, 29, 64);
  width: inherit;
  transition: filter, scale, box-shadow, var(--transition-std);
}

.confirm-code
  .code-label
  input:is(:hover, :focus, :focus-visible, :focus-within) {
  filter: brightness(150%);
  scale: 1.1;
  box-shadow: 0 0 2rem pink;
}
