::after,
::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

:root {
  --input-padding: 0.6rem 0.8rem;
  --input-border-r: 0.4rem;
  --confirm-color: #00b300;
  --component-padding: 0.6rem;
  --main-font-size: 1.5rem;
  --transition-std: 300ms ease-in;
  --active-font-color: #ff1aff;
  --contrast-component-color: #94004a;
  --pink-active-component-color: rgb(228, 54, 112);
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
}
a {
  font-size: initial;
  color: initial;
  text-decoration: none;
}
li {
  list-style: none;
}

input,
button,
hr {
  border: none;
  outline: none;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0rem;
}

img,
video,
iframe {
  max-width: 100%;
  max-height: 100%;
}
body {
  background-color: #201d20;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.1rem;
  min-height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100vh;
}
/* All loading in the site  */
.loading {
  display: grid;
  font-weight: bold;
  font-size: 2rem;
  place-content: center;
}

.full-screen.loading {
  min-height: 100vh;
}

/* NAVIGATION */

.link {
  font-size: var(--main-font-size);
}

.links-list > .link > a {
  font-size: 1.5rem;
  transition: color var(--transition-std);
}

.links-list > .link > a:is(:hover, :focus, :focus-visible, :focus-within) {
  color: var(--active-font-color);
}
.navigation .active {
  color: lightgreen;
}

.navigation {
  height: 5rem;
  background-color: #282428;
  display: grid;
  box-shadow: 0 0rem 2rem #070607;
  align-items: center;
}
.navigation .links-list {
  display: grid;
  padding-inline: 1rem;
  gap: 1rem;
  outline: none;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
}
.navigation .options {
  height: 3.5rem;
  transition: filter, scale, var(--transition-std);
  border: none;
  outline: none;
  aspect-ratio: 1/1;
  position: relative;
}

.navigation .avatar {
  height: 3.5rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: scale, fillter, var(--transition-std);
}

.navigation .options:is(:hover, :focus, :focus-visible, :focus-within) .avatar,
.navigation
  .nav_setting
  li:is(:hover, :focus, :focus-visible, :focus-within)
  .avatar {
  scale: 1.1;
  filter: brightness(150%);
}

.avatar img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  height: 100%;
}

.nav_setting {
  position: absolute;
  right: 5%;
  z-index: 99999;
  overflow: hidden;
  border-radius: var(--input-border-r);
  display: grid;
  background-color: var(--contrast-component-color);
}
.open-menu {
  display: none;
  margin-left: auto;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}
.open-menu img {
  height: 3rem;
}
.nav_setting .avatar {
  height: 3.5rem;
}
.nav_setting li {
  font-size: 1.2rem;
  padding: var(--component-padding);
}

.nav_setting .notification {
  color: red;
  padding: 0.2rem 0.4rem;
}
.nav_setting a {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr max-content;
}
.nav_setting .avatar-link {
  display: grid;
  transition: background-color 300ms;
  justify-content: center;
}
.nav_setting > .link {
  display: grid;
  text-align: center;
  transition: background-color 300ms;
  padding-inline: var(--component-padding);
  cursor: pointer;
}

.nav_setting .link:is(:hover, :focus, :focus-visible, :focus-within),
.nav_setting .avatar-link:is(:hover, :focus, :focus-visible, :focus-within) {
  background-color: var(--pink-active-component-color);
}
.nav_setting .line {
  height: 4px;
  width: 100%;
  background-color: rgb(255, 239, 8);
  box-shadow: 0 0.2rem 1rem rgb(255, 239, 8);
}
.nav_setting .logout-btn {
  width: 100%;
}

/* NotFond */
.empty-page {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: black;
  position: absolute;
  width: 100%;
}

/* INFO */

main > .info {
  height: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: 50%;
  place-content: center;
}
main > .info h1 {
  text-align: center;
}
main > .info p {
  font-size: 1.8rem;
  font-weight: bold;
  color: lightgreen;
  text-align: right;
}

.loading {
  display: grid;
  place-content: center;
  height: 100%;
}

@media (width < 760px) {
  main > .info {
    grid-template-columns: 90%;
  }
}

@keyframes move_to_left {
  0% {
    translate: -100% 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    translate: 0 0;
  }
}

@media (width < 560px) {
  main > .info {
    font-size: 0.8rem;
  }

  .navigation {
    height: 3.5rem;
  }
  .open-menu img {
    height: 2rem;
  }
  .navigation .links-list {
    padding-block: 2rem;
    top: 0;
    z-index: 9999;
    animation: move_to_left 0.8s;
    text-align: center;
    position: absolute;
    width: 100%;
    backdrop-filter: blur(200px);
    justify-items: center;
    grid-auto-flow: row;
    border-bottom: 2px solid yellow;
    box-shadow: 0 0.1rem 10rem yellow;
  }
  .nav_setting {
    animation: move_to_left 0.8s;
    background-color: transparent;
    position: relative;
    border-radius: 0;
    width: 100%;
    right: 0;
  }
  @keyframes spin {
    25% {
      translate: -2rem 0.5rem;
    }
    50% {
      translate: -4rem 0.25rem;
    }
    75% {
      translate: -2rem -0.5rem;
    }
    100% {
      translate: 0 0;
    }
  }
  .open-menu {
    display: grid;
  }
  .open-menu:is(:hover, :focus, :focus-visible, :focus-within) {
    animation: spin 5s infinite;
  }
  .navigation .links-list.hide {
    display: none;
  }
}
