::after,
::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

:root {
  --input-padding: 0.4rem 0.8rem;
  --input-border-r: 0.4rem;
  --confirm-color: green;
  --component-padding: 0.6rem;
  --main-font-size: 1.5rem;
  --transition-std: 300ms ease-in;
  --active-font-color: #ff1aff;
  --contrast-component-color: rgb(143, 9, 53);
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
}
a {
  color: initial;
  text-decoration: none;
}
li {
  list-style: none;
}

input,
button,
hr {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0rem;
}

img,
video,
iframe {
  max-width: 100%;
  max-height: 100%;
}
body {
  min-height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: max-content 1fr;
  min-height: 100vh;
}

/* NAVIGATION */

.links-list {
  display: grid;
  max-width: max-content;
  gap: 1rem;
  grid-auto-flow: column;
}

.link {
  font-size: var(--main-font-size);
}

.link a {
  /* transition: color 300ms ease-in-out; */
  transition: color var(--transition-std);
}
.link a:is(:hover, :focus, :focus-visible, :focus-within) {
  color: var(--active-font-color);
}
.navigation .active {
  color: var(--active-font-color);
}

/* All loading in the site  */

.loading {
  display: grid;
  font-weight: bold;
  font-size: 2rem;
  place-content: center;
}

.full-screen.loading {
  min-height: 100vh;
}
.navigation {
  height: 5rem;
  display: grid;
  border-bottom: 4px solid black;
  align-items: center;
}
.navigation .links-list {
  display: grid;
  align-items: center;
  min-width: 100%;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-around;
  justify-items: center;
}
.navigation .avatar {
  height: 3rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
  object-fit: cover;
}
.nav_setting {
  position: absolute;
  top: 1rem;
  border-radius: var(--input-border-r);
  display: grid;
  row-gap: 1rem;
  z-index: 999;
  padding-bottom: 1rem;
  background-color: var(--contrast-component-color);
}
.nav_setting li:is(:not(.main_option)).fn {
  padding: var(--component-padding);
}
.nav_setting .main_option {
  padding: 1rem 1rem 0 1rem;
}

.nav_setting .main_option .fn {
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 3rem;
  transition: filter 300ms;
}
.nav_setting
  .main_option
  .fn:is(:hover, :focus, :focus-visible, :focus-within) {
  filter: brightness(70%);
}
.nav_setting > .link:is(:not(.main_option)) .fn {
  display: grid;
  text-align: center;
  transition: background-color 300ms;
  cursor: pointer;
  padding-inline: var(--component-padding);
}

.nav_setting .link .fn:is(:hover, :focus, :focus-visible, :focus-within) {
  background-color: rgb(224, 13, 83);
}
.nav_setting .line {
  height: 2px;
  width: 100%;
  /* position: absolute; */
  background-color: rgb(180, 18, 72);
}

/* NotFond */

.empty-page {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: black;
  position: absolute;
  width: 100%;
}

/* INFO */

.info {
  height: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: 50%;
  place-content: center;
}
.info h1 {
  text-align: center;
}
.info p {
  font-size: 1.8rem;
  font-weight: bold;
  color: lightgreen;
  text-align: right;
}
