.user {
  display: grid;
  justify-content: center;
}
.profile {
  width: clamp(320px, 55vw, 700px);
  background-color: var(--contrast-component-color);
  border-radius: 0.5rem;
  display: grid;
  row-gap: 4rem;
  padding: var(--component-padding);
}
.profile .baner {
  position: relative;
  z-index: 1;
  background-color: rgb(71, 12, 12);
  height: 7rem;
  border-radius: var(--input-border-r);
}
.profile .baner > img {
  object-fit: cover;
  width: 100%;
}
.profile .circle {
  position: absolute;
  display: grid;
  place-content: center;
  aspect-ratio: 1/1;
  bottom: -3.5rem;
  left: 8%;
  width: 7rem;
}
.profile .avatar::after {
  content: "";
  position: absolute;
  background-color: rgb(24, 2, 9);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 8rem;
  z-index: 1;
  bottom: -0.5rem;
  right: -0.5rem;
}
.profile .avatar::before {
  content: "";
  width: 8rem;
  z-index: 2;
  position: absolute;
  background-color: var(--contrast-component-color);
  height: 4rem;
  bottom: -0.5rem;
  top: 50%;
  left: -0.5rem;
}
.profile .avatar {
  aspect-ratio: 1/1;
  width: 6rem;
  margin-inline: auto;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
.avatar > img {
  width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.profile .panel {
  display: grid;
  grid-template-columns: 1fr 2rem;
}
