 .user {
  backdrop-filter: brightness(60%);
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100%;
  grid-template-columns: clamp(320px, 60vw, 680px);
}

.profile .content {
  box-shadow: 0 0.2rem 1rem rgb(0, 0, 0);
}
.show-case {
  background-color: rgb(22, 21, 21);
  border-bottom: 2px solid #350444;
}

.show-case .baner {
  position: relative;
  z-index: 1;
  height: 8rem;
}
.show-case .baner > img {
  object-fit: cover;
  width: 100%;
}
.show-case .circle {
  position: absolute;
  display: grid;
  place-content: center;
  aspect-ratio: 1/1;
  bottom: -2.5rem;
  left: 8%;
  width: 5rem;
}
.show-case .avatar::after {
  content: "";
  width: 110%;
  position: absolute;
  background-color: rgba(61, 26, 38, 0.959);
  border-radius: 50%;
  aspect-ratio: 1/1;
  top: -0.2rem;
  z-index: 1;
  left: -5%;
  right: -5%;
}

.show-case .avatar > img {
  width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.show-case .panel {
  display: grid;
  padding: 1rem;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr max-content;
}
.show-case .nick {
  font-size: 1.4rem;
  font-weight: bolder;
}
.show-case .unqiue-name {
  opacity: 0.8;
  color: whitesmoke;
}
.show-case .panel .friend {
  background-color: #6600cc;
  height: max-content;
  padding: 0.4rem 1rem;
  transition: filter 300ms;
  border-radius: var(--input-border-r);
}
.show-case .panel .friend:is(:hover, :focus) {
  filter: brightness(60%);
}

/* Message Cotainer */
 .profile .container {
  display: grid;
  grid-template-rows: repeat(2, max-content);
}
 .profile .send-message:disabled {
  cursor: not-allowed;
}
 .profile .send-message {
  background-color: #6600cc;
  border-radius: 0.6rem;
  border: 3px solid transparent;
  padding: 0.4rem 0.8rem;
  transition: filter, border-color, 300ms ease-out;
}
 .profile .send-message:is(:hover, :focus) {
  background-color: #8000ff;
  border-color: #5900b3;
}
 .profile .tools {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  padding: 2rem;
  border-top: 2px solid rgb(53, 4, 68);
  background-color: #14081f;
  column-gap: 2rem;
}

 .profile .tools input {
  width: 100%;
  box-shadow: 0 0.1rem 1rem -0.2rem #bf80ff;
  background-color: rgba(61, 56, 56, 0.589);
  border-radius: var(--input-border-r);
  padding: var(--input-padding);
  transition: border-color 300ms ease-out;
  border: 2px solid transparent;
}
 .profile .tools input:is(:hover, :focus) {
  border-color: #5900b3;
}
 .profile .tools input::placeholder {
  color: pink;
}
 .profile .messages-window {
  height: 500px;
  background-color: rgba(22, 20, 20, 0.322);
}
 .profile .messages {
  display: grid;
  overflow-y: scroll;
  position: relative;
  height: 100%;
  padding: 1rem;
  gap: 0.8rem 2rem;
  justify-content: center;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(2, calc(50% - 1rem));
}
.empty {
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 0.2rem;
  justify-content: center;
  align-items: end;
  padding-bottom: 4rem;
  height: 100%;
  width: 100%;
}
.empty .waiting-message {
  animation: spirala 10s ease-out infinite;
}
.empty .circle {
  border: 2px solid red;
  width: 0.5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.empty .circle:nth-child(2) {
  animation: empty_circle 3s ease-out infinite;
}
.empty .circle:nth-child(3) {
  animation: empty_circle 3s ease-out 1s infinite;
}
.empty .circle:nth-child(4) {
  animation: empty_circle 3s ease-out 2s infinite;
}

@keyframes empty_circle {
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes spirala {
  30% {
    translate: 2rem -2rem;
  }
  50% {
    translate: 0rem 0rem;
  }

  80% {
    translate: -2rem -2rem;
  }
  100% {
    translate: 0rem 0rem;
  }
}
 .profile .right {
  grid-column: 2/3;
}
 .profile .left {
  grid-column: 1/2;
}

 .profile .text {
  border-radius: var(--input-border-r);
  padding: var(--component-padding);
  background-color: rgb(89, 80, 221);
  word-break: break-all;
  height: max-content;
}

 .profile .loading {
  grid-column: 1/3;
  text-align: center;
  padding: 0.4rem 1rem;
}

.edit-profile-window input[type="file"] {
  display: none;
}
.edit-profile-window {
  display: grid;
  row-gap: 1rem;
}
.edit-profile-window .banner {
  height: 100px;
}

.edit-profile-window .avatar,
.edit-profile-window .banner {
  cursor: pointer;
  position: relative;
}
.edit-profile-window .banner {
  height: 200px;
  max-width: 800px;
}
.edit-profile-window .avatar img,
.edit-profile-window .banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.edit-profile-window .avatar {
  border-radius: 50%;
  max-width: 6rem;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.edit-profile-window .avatar::before,
.edit-profile-window .banner::before {
  content: url("./images/add_new_photo.svg");
  display: grid;
  place-content: center;
  cursor: pointer;
  border: 4px solid orange;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  width: 4rem;
  backdrop-filter: blur(200px);
  aspect-ratio: 1/1;
}

.edit-profile-window .confirm {
  background-color: green;
  width: max-content;
  margin-inline:auto;
  padding: var(--component-padding);
  border-radius: .3rem;
  transition: filter,scale, var(--transition-std);
}
.edit-profile-window .confirm:is(:hover,:focus,:focus-visible,:focus-within) {
  filter: brightness(50%);
  scale: 1.2;
}
