.home {
  padding-top: 1rem;
  display: grid;
  justify-content: center;
  text-align: center;
}
.friends-list {
  display: grid;
  gap: 1rem;
  padding: 2rem 1rem;
  width: clamp(320px, 100vw, 690px);
}
.home .profile-link .avatar {
  aspect-ratio: 1/1;
  height: 6rem;
}
