.menage-friends {
  display: grid;
  position: relative;
  text-align: center;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding-block: 2rem;
}

.friends-list {
  display: grid;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.friend-container {
  display: grid;
  height: 300px;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--contrast-component-color);
  grid-template-columns: max-content 1fr;
  gap: 1rem;
}
.friend-info {
  display: grid;
  grid-template-columns: 1fr max-content;
}
.menage-friends .avatar {
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.remove-friend-container {
  display: grid;
  grid-template-columns: 1fr max-content;
}
.remove-friend {
  background-color: red;
  padding: 0.2rem 0.4rem;
  transition: background-color var(--transition-std);
  border-radius: 0 var(--input-border-r) var(--input-border-r) 0;
}
.remove-friend:is(:hover, :focus, :focus-within, :focus-visible) {
  background-color: #350444;
}

.menage-friends .loading-fr {
  display: grid;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  place-content: center;
}
